.apres_container{
    margin-top: 5%;
    padding: 0 15% 5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-color: #332e2e;
}

.apres_interno h1{
    font-size: 4.7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #332e2e;
    font-weight: 700;
    text-align: left;
    padding-bottom: 5%;
}

.apres_interno p{
    font-size: 1.3rem;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: #332e2e;
    margin-bottom: 20%;
    text-align: left;
}

.button_container{
    display: flex;
    justify-content: flex-start;
}

.linkedin_container{
    margin-right:20%;
}

.linkedin_container a{
    background: none;
    
    padding: 20px;
    display: flex;
    border-radius: 25px;
}

.linkedin_container a img{
    width: 50px;
    cursor: pointer;
}

.github_container a{
   
    padding: 20px;
    display: flex;
    border-radius: 25px;
}

.github_container a img{
    width: 50px;
}

.linkedin_container a:hover{
    background-color: #0076b53b;
    transition: 0.5s ease;
}

.github_container a:hover{
    background-color: #0000002c;
    transition: 0.5s ease;
}


@media (max-width:900px){
    .apres_container{
        padding: 0 20px 0;
        justify-content: center;
        align-items: center;
    }
    .apres_interno h1{
        font-size: 300%;
    }
    .button_container{
        justify-content: center;
    }
}