.about_container{
    background-color: #d9ffb6;
    margin-top: 70px;
    padding: 8% 40% 5% 15%;
}

.about_picture{
    margin-left: 140%;
    margin-top: -50%;
}

.about_picture img{
    width: 300px;
    border-radius: 99999px;
    border: 3px solid #332e2e;
}

.title_about{
    margin-top: -70px
}

.title_about h2{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #332e2e;
    margin-bottom: 40px;
}
.about_container p{
    color: #332e2e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-align: justify;
    letter-spacing: normal;
}