.homeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    box-sizing: border-box;
}

.img img{
    border-radius: 50%;
    width: 550px;
}
.description{
    text-align: end;
}

.description h1{
    font-size: 120px;
    font-weight: 600;
    color: var(--text);
}

.description h2{
    font-size: 60px;
    font-weight: 400;
}

.description h1, h2{
    margin: 30px 0;
}
.links{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.links a{
    border: 2px solid var(--primary);
    color: var(--text);
    width:190px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 99999px;
}
@media (max-width: 600px) {

    .img{
        display: none;
    }
    .description h1{
        text-align: center;
        
    }
    .h1name{
        justify-content: center;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 52px;
    }
}