.navContainer {
   
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 550;
    font-size: 18px;
    background-color: var(--surface);
    height: 10vh;
    min-width: 100vw;
    box-shadow: 10px 0px 7px black;
}

.navContainer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
 
}

.navContainer ul li a {
    list-style: none;
    text-decoration: none;
    background-color: #123458;
    color: #F1EFEC;
    border: 2px solid #123458;
    padding: 15px 25px;
    border-radius: 99999999px;
}

.navContainer ul li a:hover {
    transition: 0.5s ease-in-out;
    background-color: var(--surface);

}



@media (max-width: 600px) {
    .navContainer{
       width: 100vw;
       justify-content: right;
       align-items: center;
    }
    .navContainer ul {
        display: none;
        
    }

    .menuWrapper{
        cursor: pointer;

    }
    .menu {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 30px;
        padding: 1px;
    }
}