
.navContainer{
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
   
    font-weight: 550;
    font-size: 18px;
    background-color:var(--surface);
    padding: 35px 0px;
    box-shadow:10px 0px 7px black;
}

.navContainer ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
}

.navContainer ul li a{
    list-style: none;
    text-decoration: none;
    background-color: #123458;
    color: #F1EFEC;
    
    border: 2px solid #123458;
    padding: 15px 25px;
    border-radius: 99999999px;
}

.navContainer ul li a:hover{
    transition: 0.5s ease-in-out;
    background-color: var(--surface);
    color: var(--primary);
    
}